@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

span {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  color: #fff;
  font-size: 28px;
}
  
h1 {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  color: #140d2e;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #140d2e;
    font-size: 20px;
    line-height: 1;
    margin-bottom: -10px;
    text-align: center;
    }

 h3 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal;
    font-style: italic;
    color: #140d2e;
    font-size: px;
    line-height: 1;
    margin-bottom: -10px;
    text-align: center;
    }

h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#navbar {
  background-color: #33333300;
  color: #140d2e;
  overflow: hidden;
  font-family: 'Montserrat';
  font-weight: bold;
}

#nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#navbar li {
  padding: 16px 20px;
}

#navbar a {
  text-decoration: none;
  color: #140d2e;
  transition: color 0.3s;
}

#navbar a:hover {
  color: #7a305f;
}

#browser-frame {
  width: 90%;
  height: 1000px;
  margin: 40px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex-grow: 1;}

#search-bar {
  display: flex;
  background: url('../assets/images/search_bar.png') center center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  object-fit: contain;
  width:100%;
  position: relative;
}

.search-img {
  display: flex;
  object-fit: contain;
  width:100%;
  position: relative;
}

#tab-bar {
  display: flex;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.tab {
  flex-grow: 1;
  padding: 12px 10px;
  border: none;
  background: #e1e1e1;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s, font-weight 0.3s;
  border: #666;
  border-width: 4px;
}

.tab:hover {
  background-color: #d9d9d9; 
  font-weight: bold; 
}

.tab:focus {
  background-color: #f0f0f0;
  font-weight: bold;
}

.tab:active {
  background-color: #f0f0f0;
  font-weight: bold;
}

#content-window {
  padding: 20px;
  height: 800px;
  overflow-y: auto;
  flex-grow: 1;
}

.tab-content {
  display: none; 
  animation: fadeIn 0.5s;
  height: 100%;
}

.tab-content img {
  width: 100%; 
  height: auto;
  border-radius: 4px; 
  margin-bottom: 20px;
}

.tab-content p {
  font-size: 18px;
  color: #666;
  line-height: 1.6; 
}

.resume-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 60px 30px;
}

.resume-photo {
  width: 45%;
  object-fit: contain;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
