@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

.project-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-items: center;
}

.project-title-details {
    width: 30%;
    padding: 20px;
    padding-right: 30px;
}

.project-description {
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;}


h1, .role, .date {
    color: #333;
    margin: 5px 0;
}

h1 {
    font-size: 40px;
    color: #eac7d9;
    padding-bottom: 10px;
}

p{
  font-size: 16px;
  padding: 0px;
  margin-bottom: 0px;
}

.role, .date {
    font-size: 16px;
    font-style: italic;
}

.carousel-container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
}

.carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 100%;
}

.prev {
  left: 0;
  border-radius: 100%;
}

.prev:hover, .next:hover {
  background-color: #ddddddb9;
  border-radius: 100%;
}

.model-container {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

model-viewer {
  width: 300px;
  height: 500px;
  margin: 20px 20px;

}