@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #180e3b
  }

span {
  font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
  font-weight: bold;
  color: #fff;
  font-size: 28px;
}
  
h1 {
  font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
  font-weight: bold;
  color: #000000;
  font-size: 40px;
  }

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
}

  #container {
    display: flex;
    min-height: 100vh; /* Full height of the viewport */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
    padding: 20px;
  }
  
  #smartphone {
    background: url('../assets/images/smartphone.png') no-repeat center center;
    background-size: cover;
    width: 300px; /* Width of your smartphone image */
    height: 600px; /* Height of your smartphone image */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; /* Or adjust to fit the smartphone screen area */
    margin-right: 50px; /* Adds space between the smartphone and the sidebar */
  }

  #smartphone-content {
    text-align: center; /* Center the text inside the phone */
  }

  .profile-photo {
    max-width: 300pt; /* Adjust the maximum width of the photo */
    max-height: 300pt; /* Adjust the maximum height of the photo */
    object-fit: cover; /* Keeps aspect ratio, might crop image */
  }
  
  #sidebar {
    max-width: 900px; /* Adjust based on your content */
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; /* Text color for the sidebar */
  }
  
  #recruitment-status {
    margin-bottom: 30px; /* Space between recruitment status and the next section */
  }
  
  #status-indicator.not-looking {
    display: inline-block;
    background-color: red;
    border-radius: 50%; /* Makes it a circle */
    width: 10px; /* Size of the indicator dot */
    height: 10px; /* Size of the indicator dot */
    margin-right: 5px; /* Space between dot and the text */
    vertical-align: middle; /* Aligns with the text properly */
  }

  #status-indicator.looking {
    display: inline-block;
    background-color: rgb(113, 218, 143);
    border-radius: 50%; /* Makes it a circle */
    width: 10px; /* Size of the indicator dot */
    height: 10px; /* Size of the indicator dot */
    margin-right: 5px; /* Space between dot and the text */
    vertical-align: middle; /* Aligns with the text properly */
  }
  
  
  #about-me {
    background: url('../assets/images/portflio_webbg.png') no-repeat center center;
    background-size: cover; /* Cover the entire area of the div */
    color: #ffffff; /* Assuming you want white text for visibility */
    padding: 10px; /* Add padding for some spacing inside the container */
    margin: 10px 0;
    font-size: 1rem; /* Adjust size as needed */
    max-width: 800px;
  }
  
  #about-me ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #about-me ul li {
    margin-bottom: 10px; /* Space between list items */
  }
  
  button {
    background-color: #ce76a8; /* Bootstrap primary blue for example */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase; /* Stylistic choice for button text */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  button:hover {
    background-color: #5d1042; /* Darken button on hover */
  }
  