@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #140d2e
  }

span {
  font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
  font-weight: bold;
  color: #fff;
  font-size: 28px;
}
  
h1 {
  font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  line-height: 1;
  }

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
}

  #container {
    display: flex;
    min-height: 100vh; /* Full height of the viewport */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
    padding: 20px;
  }
  
  #smartphone {
    background: url('../assets/images/smartphone.png') no-repeat center center;
    background-size: cover;
    width: 500px; /* Width of your smartphone image */
    height: 700px; /* Height of your smartphone image */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Or adjust to fit the smartphone screen area */
    margin-right: 50px; /* Adds space between the smartphone and the sidebar */
  }

  #smartphone-content {
    text-align: center; /* Center the text inside the phone */
    text-align: center;
    padding: 0; /* Make sure there's no extra padding */
    margin: 0; /* Make sure there's no extra margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #profile-container {
    position: relative; /* This will be positioned relative to the nearest positioned ancestor */
    top: -50px; /* Adjust this value to overlap with the header by the desired amount */
    text-align: center;
  }

  .profile-photo {
    display: block; /* Images are inline by default which could cause some issues with positioning */
    margin: 0 auto; /* This will center the image in the container */
    /* Make sure the image is not too large for the overlap */
    width: 200px; /* Adjust as necessary */
    height: 200px; /* Adjust as necessary */
    object-fit: cover;
    position: relative;
    margin-top: 10pt;
  }
  
  #sidebar {
    max-width: 900px; /* Adjust based on your content */
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; /* Text color for the sidebar */
  }
  
  #recruitment-status {
    margin-bottom: 30px; /* Space between recruitment status and the next section */
  }
  
  #status-indicator.not-looking {
    display: inline-block;
    background-color: red;
    border-radius: 50%; /* Makes it a circle */
    width: 10px; /* Size of the indicator dot */
    height: 10px; /* Size of the indicator dot */
    margin-right: 5px; /* Space between dot and the text */
    vertical-align: middle; /* Aligns with the text properly */
  }

  #status-indicator.looking {
    display: inline-block;
    background: url('../assets/images/green_glow.gif');
    width: 20pt; /* Size of the indicator dot */
    height: 20pt; /* Size of the indicator dot */
    margin-right: 5px; /* Space between dot and the text */
    vertical-align: middle; /* Aligns with the text properly */
  }

  #about-me {
    background-color: #f2d9e9;
    color: #3c3c3c; /* Text color */
    margin: 0 auto; /* This centers the div if it has a set width */
    width: 100%; /* You might need to adjust this to fit the aspect ratio of your background image */
    height: 100%; /* Adjust the height as needed */
    display: flex;
    flex-direction: column; /* Aligns content in a column */
    align-items: center; /* Centers content horizontally */
    box-sizing: border-box;
  }
  
  #about-me ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #about-me ul li {
    margin-bottom: 10px; /* Space between list items */
  }
  
  
  button {
    background-color: #ce76a8; /* Bootstrap primary blue for example */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase; /* Stylistic choice for button text */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  button:hover {
    background-color: #5d1042; /* Darken button on hover */
  }
  
  #interactive-terminal {
    position: relative;
    background: url('../assets/images/portflio_webbg.png') no-repeat center center;
    background-size: cover;
    color: #0f0;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    min-height: 300px;
  }
  
  #output-container {
    height: 300px; /* Fixed height for your output container */
    overflow-y: auto; /* Hide overflow */
  }

  #output {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
  }
  
  #command-input {
    width: calc(100% - 20px); /* Adjust width considering padding */
    position: absolute;
    bottom: 10px; /* Align to the bottom of the terminal */
    background: #000;
    border: none;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #command-input::placeholder {
    color: #0f0;
  }
  
  #command-input:focus {
    outline: none;
  }
  
  #about-section {
    background-color: #FFC0CB; /* Light pink background */
    display: flex;
    justify-content: space-between; /* This separates the two columns */
    padding: 20px;
  }
  
  .about-column, .photo-column {
    flex: 1; /* This makes both columns take up equal space */
    padding: 20px;
  }
  
  .about-column {
    color: #000;
    font-family: 'Montserrat';
  }
  
  .photo-column {
    /* Styling specific to the photo column */
    display: flex;
    width: 300pt;
    height: 300pt;
    justify-content: center; /* Center the photo in the column */
    align-items: center; /* Align the photo vertically */
  }
  
  .about-photo {
    width: 300pt;
    border-radius: 50px; /* Optional: if you want rounded corners on the image */
  }
  