@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #140d2e
  }

span {
  font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
  font-weight: bold;
  color: #fff;
  font-size: 28px;
}
  
h1 {
  font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
  font-weight: bold;
  color: #ffffff;
  font-size: 60px;
  line-height: 1;
  text-align: left;
  }

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Use the Roboto font for headers */
}

#navbar {
  background-color: #33333300;
  color: white;
  overflow: hidden;
  font-family: 'Montserrat';
  font-weight: bold;
}

#nav-container {
  max-width: 1200px; /* Maximum width of your navigation content */
  margin: 0 auto;
  padding: 0 20px;
}

/* Style the navigation links */
#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#navbar li {
  padding: 16px 20px; /* Vertical and horizontal padding */
}

#navbar a {
  text-decoration: none; /* Remove underlines from links */
  color: white; /* White text color */
  transition: color 0.3s; /* Smooth color transition */
}

#navbar a:hover {
  color: #f2d9e9; /* Light pink color for hover state */
}

  #container {
    display: flex;
    min-height: 100vh;
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
    padding: 20px;
    margin-top: -70px;
  }
  
  #smartphone {
    background: #00000000;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; /* Or adjust to fit the smartphone screen area */;
    margin-left: -10px;
    margin-top: -50px;
  }

  #smartphone-content {
    text-align: center; /* Center the text inside the phone */
    text-align: center;
    padding: 20px; /* Make sure there's no extra padding */
    margin: 10px; /* Make sure there's no extra margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  #profile-container {
    position: relative; /* This will be positioned relative to the nearest positioned ancestor */
    top: -25px;
    text-align: center;
  }

  .profile-photo {
    display: block; /* Images are inline by default which could cause some issues with positioning */
    margin: 0 auto; /* This will center the image in the container */
    /* Make sure the image is not too large for the overlap */
    width: 400px; /* Adjust as necessary */
    height: 300px; /* Adjust as necessary */
    object-fit: cover;
    position: relative;
    margin-top: 20px;
  }
  
  #sidebar {
    max-width: 1000px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    position: relative;
    margin-top: -20px;
    padding: 20px;
  }
  
  #recruitment-status {
    margin-top: 50px;
    margin-bottom: 20px; /* Space between recruitment status and the next section */
  }
  
  #status-indicator.not-looking {
    display: inline-block;
    background-color: red;
    border-radius: 50%; /* Makes it a circle */
    width: 10px; /* Size of the indicator dot */
    height: 10px; /* Size of the indicator dot */
    margin-right: 5px; /* Space between dot and the text */
    vertical-align: middle; /* Aligns with the text properly */
  }

  #status-indicator.looking {
    display: inline-block;
    background: url('../assets/images/green_glow.gif') center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }

  #about-me {
    background-color: #f2d9e9;
    color: #412535; /* Text color */
    margin: 0 auto; /* This centers the div if it has a set width */
    width: 100%; /* You might need to adjust this to fit the aspect ratio of your background image */
    height: 100%; /* Adjust the height as needed */
    display: flex;
    flex-direction: column; /* Aligns content in a column */
    align-items: center; /* Centers content horizontally */
    box-sizing: border-box;
  }
  
  #about-me ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #about-me ul li {
    margin-bottom: 10px; /* Space between list items */
  }
  
  
  button {
    background-color: #ce76a8;
    width: 250px;
    height: 50px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase; /* Stylistic choice for button text */
    transition: background-color 0.3s ease;
    position: relative;

  }
  
  button:hover {
    background-color: #5d1042; /* Darken button on hover */
  }
  
  #interactive-terminal {
    position: relative;
    background: #140d2e url('../assets/images/browser_bg_2.png') no-repeat center center;
    background-size: contain;
    color: rgb(255, 102, 235);
    padding: 30px;
    margin-left: -47px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    overflow: hidden;
}
  
  #output-container {
    height: 100%;
    position: relative;
    overflow-y: auto; /* Hide overflow */
  }

  #output {
    list-style-type: none;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: -15px;
    bottom: -20px;
    position: relative;
    height: 250px;
    overflow-y: auto;
  }
  
  #command-input {
    width: 604px;
    height: 20px;
    position: relative;
    bottom: -30px;
    margin-left: 14px;
    background: #000;
    border: none;
    color: rgb(255, 102, 235);
    font-family: 'Courier New', Courier, monospace;
  }
  
  #command-input::placeholder {
    color: rgb(255, 102, 235);
  }
  
  #command-input:focus {
    outline: none;
  }
  
  #about-section {
    background-color: #FFC0CB; /* Light pink background */
    display: flex;
    justify-content: space-between; /* This separates the two columns */
    padding: 20px;
  }
  
  .about-column, .photo-column {
    flex: 1; /* This makes both columns take up equal space */
    padding: 20px;
  }
  
  .about-column {
    color: #000;
    font-family: 'Montserrat';
  }
  
  .photo-column {
    /* Styling specific to the photo column */
    display: flex;
    width: 300pt;
    height: 300pt;
    justify-content: center; /* Center the photo in the column */
    align-items: center; /* Align the photo vertically */
  }
  
  .about-photo {
    width: 300pt;
    border-radius: 100%;
  }
  